.cart-item-container {
    border: 1px solid black;
    margin: 5px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.card-img-container {
    max-width: 150px;
}

.cart-item-img {
    padding: 15px;
}

.card-item-name{
    width: 15ch !important;
}

.card-input-field{
    max-width: 200px !important;
}