.navbar-container {
    position: relative;
    display: flex;
    padding: 15px 30px;
    justify-items: center;
    align-items: center;
}
.logo , .logo:hover {
    text-decoration: none;
    color: black;
}
.logo-container {
    flex: 1;
    text-align: left;
    font-size: x-large;
    padding: 0px 25px 0px 0px;
}
.search-container {
    flex: 2.5;
    border: 0.5px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-bar {
    width: 100%;
    border: none;
    padding: 6px 2px;
    outline: none;
}
.search-btn {
    display: flex;
    padding: 5px 5px;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.cart-account-container {
    flex: 3;
    display: flex;
    justify-content: flex-end;
    gap: 4vw;
}
.cart-container{
    font-size: large;
    cursor: pointer;
    align-items: center;
    display: flex;
    position: relative;
}
.cart-btn {
    border: none;
    outline: none;
    background-color: transparent;
    position: relative;
    top: 2px;
}
.account-link  {
    font-size: large;
    cursor: pointer;
    align-self: center;
    text-decoration: none;
    color: black;
}

.account-link:hover  {
    color: black;
}
.dropdown-item:focus{
    background-color: rgb(185, 185, 185);
}

.dropdown-menu, .dropdown-toggle{
    border-radius: 0px !important;
}

.select-link, .select-link:hover {
    text-decoration: none;
    color: black;
    background-color: white;
    cursor: pointer;
    width: 100%;
}

.search-select-container{
    border: 1px solid lightgray;
    background-color: white;
    position: absolute;
    display: flex;
    width: 100%;
}

.search-outer-container{
    flex: 2.5;
    position: relative;
    z-index: 1;
}

@media (max-width: 654.98px){
    .navbar-container {
        padding: 7px 10px;
    }
    .logo-container {
        padding: 0px 15px 0px 0px;
    }
    .cart-account-container {
        flex: 2.4;
        gap: 3vw;
    }
    .cart-container{
        font-size: medium;
    }
    .account-link  {
        font-size: small;
        padding-left: 4px;
        padding-top: 6px;
    }
    .search-container {
        flex: 2;
    }
}